<!-- <button class="btn btn-primary" (click)="incrementCounter()">InCrement</button>
<app-lifecycle [counterValReceived]="counter">
    <h1>Parent Class Template</h1>
</app-lifecycle> -->
<!-- <app-product></app-product> -->

<!-- <h1>home page</h1>
<button (click)="incrementCounter()">Increment Counter</button>
<app-child [counterReceived]="count">
    <p>Parent class Template</p>
</app-child> -->

<!-- <app-promise></app-promise> -->

<!-- <app-chainingpromises></app-chainingpromises> -->
<h1>LifeCycle Hooks</h1>
<h2>New Heading</h2>
<h3>Third heading</h3>
<button (click)="OnEnroll()">Enroll</button>
<app-observable></app-observable>